---
// Slider component with YouTube video embed
---

<div class="slider">
  <div class="slide">
    <iframe 
      width="560" 
      height="315" 
      src="https://www.youtube.com/embed/u91s5bmL_uM" 
      title="YouTube video player" 
      frameborder="2" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
</div>

<style>
.slider {
  max-width: 800px;
  margin: 0 auto;
}

.slide {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.slide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>